[Desktop Entry]
Name=Frozen Bubble
Comment=Frozen Bubble arcade game
Comment[pl]=Gra zręcznościowa Frozen Bubble
Icon=frozen-bubble
Exec=frozen-bubble
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
